<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <!-- Three js scripts-->
  <script src="https://threejs.org/build/three.js"></script>
  <script src="js/libs/OrbitControls.js"></script>
  <script src="js/libs/BufferGeometryUtils.js"></script>
  <script src="js/libs/GLTFLoader.js"></script>
  <!-- <script src="js/libs/simplex-noise.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>

  <title>Park</title>
  <link href="styles/main.css" rel="stylesheet" type="text/css">
  {# <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"> #}
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Mono&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon//apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#aaefdf">
</head>

<body>

  <div id="scene-container">
    <canvas id="viewport"></canvas>
  </div>
  <div class="splash-screen"></div>
  <div id="text-grid" class="splash-screen">
    <h1 class="title-text" id="title">Park</h1>
    <h2 class="title-text" id="subtitle1">nature'</h2>
    <h2 class="title-text" id="subtitle2">fractal</h2>
    <h2 class="title-text" id="subtitle3">s</h2>
    {# <h1 class="title-text">Algorithmic botany sketches</h1> #}
  </div>

  <ul class="card-container">

    {% for id, sketch in data %}
    <li class="sketch">
      <a href="{{ id }}.html">
        <div class="stretchy-wrapper">
          <div class="card" style="background-image: url(imgs/{{ id }}.png)">
            <div class="overlay">
              <div class="text">Go to sketch</div>
            </div>
          </div>
        </div>
        <span class="sketch-title">{{ sketch.title }}</span>
      </a>
    </li>
    {% endfor %}

  </ul>

  <script src="js/index/Leaf.js"></script>
  <script src="js/index/Branch.js"></script>
  <script src="js/index/Tree.js"></script>
  <script src="js/index/app.js"></script>
</body>

</html>
