{% set sketch = data.pytree %}
{% extends "sketch.njk" %}

{% block libs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
{% endblock %}

{% block sketch %}
 <main>
    <div class="sketch">
      <div id="sketch-holder"></div>
      <input type="range" min="0.39269908169" max="1.1780972451" value="0.78539816339" step=0.01 class="slider" id="alpha">
    </div>
  <script type="text/javascript" src="js/sketches/pytree/pytree.js"></script>
  </main>
{% endblock %}

{% block style %}
body {
  background-color: #eee8d5;
  margin: 0;
}

input {
  display: block;
  margin: auto;
}
{% endblock %}