<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Park: {{ sketch.title }}</title>
  {% block libs %}{% endblock %}
</head>

<style>
{% block style %}
html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
{% endblock %}

#back {
  position: absolute;
  text-decoration: none;
  color: {{ sketch.color }};
  top: 10px;
  left: 10px;
  font-size: 2em;
}

i {
  border: solid {{ sketch.color}};
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.left {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  position: relative;
  top: -18px;
  left: -5px;
}

</style>

<body>
  <a id="back" href="/Park"><i class="arrow left"></i>-1</a>
  {% block sketch %}{% endblock %}
</body>

</html>
