<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Park: {{ sketch.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon//apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#aaefdf">
  {% block libs %}{% endblock %}
</head>

<style>
{% block style %}
html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
{% endblock %}

#back {
  position: absolute;
  text-decoration: none;
  color: {{ sketch.color }};
  top: -0.1em;
  left: 0.3em;
  font-size: 5em;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-tap-highlight-color: transparent;
}

i {
  border: solid {{ sketch.color}};
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

</style>

<body>
  <a id="back" href=".">⇭</a>
  {% block sketch %}{% endblock %}
</body>

</html>
