{% set sketch = data.venation %}
{% extends "sketch.njk" %}

{% block libs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.0.4/pixi.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
  <script src="js/libs/bezier.js"></script>
{% endblock %}

{% block sketch %}
  <div id="interface">
    <button id="start" type="submit" onclick="start()">Start growing</button>
    <button id="reset" type="submit" onclick="reset()">Reset</button>
  </div>
  <script type="text/javascript" src="js/sketches/venation/Node.js"></script>
  <script type="text/javascript" src="js/sketches/venation/Source.js"></script>
  <script type="text/javascript" src="js/sketches/venation/Veins.js"></script>
  <script type="text/javascript" src="js/sketches/venation/venation.js"></script>
{% endblock %}

{% block style %}
{{ super() }}
#start {
  background-color: seagreen;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1em;
  border: 5px solid seagreen;
  border-radius: 8px;
  margin-bottom: 5px;
  display: inline-block;
}

button:focus {
  outline: none;
}

#reset {
  background-color: tomato;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1em;
  border: 5px solid tomato;
  border-radius: 8px;
  display: inline-block;
}

#interface {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  text-align: center;
}

{% endblock %}
