:root {
  --gutter: 10px;
  --noOfColumns: 4;

  --ratioA: 1;
  --ratioB: 1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  overflow-x: hidden;
  color: white;
  overflow-y: scroll;

  font-family: 'Roboto Mono', monospace;
}

h1 {
  position: absolute;
  width: 100%;
  z-index: 1;
  font-size: 1.5rem;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#viewport {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.splash-screen {
  width: 100%;
  height: 100vh;
}

.card-container {
  max-width: 1366px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 30px;
}

@media only screen and (min-width: 575px) {
  .card-container {
    max-width: 1366px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
    padding: 60px;
  }
}

.card {
  background-size: cover;
  text-align: center;
}

div.stretchy-wrapper {
  position: relative;

  /* Aspect ratio 16:9 */
  padding-bottom: 56.25%;
}

div.stretchy-wrapper > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.sketch-title {
  text-align: left;
  font-size: 1.3em;
  font-weight: lighter;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

.card:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}